#react-app-root{
    background-image: url('https://grist.files.wordpress.com/2015/07/organicfarm.jpg?w=1024&h=576&crop=1');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}


.nav-background {
    background-color: #699a60;
    padding: 50px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-padding {
    padding: 25px;
    text-decoration: none;
    color: white;
}

aside {
    width: 20vw;
    padding: 20px;
}

h5 {
    padding: 10px;
    cursor:pointer;
}

h5 a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.modal-container {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 80px;
    top: -45px;
}

.modal-container ul {
    padding: 0px;
    margin-left: 20px;
}

.item-list {
    list-style: none;
    display: none;
    width: 150px;
    z-index: 1;
}

.modal-container:hover .item-list {
    display: block;
}

@media screen and (max-width: 700px){
    nav a{
        font-size: 0.8em;
    }

    .nav-padding {
        padding: 15px;
    }
}

@media screen and (max-width: 550px){
    nav a{
        font-size: 0.7em;
    }

    .nav-padding {
        padding: 10px;
    }
}
